.DS_Store
node_modules
.idea
.vscode
.history
dist
built
coverage

npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log

.envrc

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# 로그 파일
log/error/*
log/log/*
*.log